*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(178, 182, 182);
    align-items: center;
    justify-content: center;

}

.calculator{
    background-color: rgb(14, 13, 13);
    padding: 17px;;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(44, 33, 33), 5px 5px 15px rgb(48, 48, 47);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin: 17px 0; 
}
form  .display input{
    text-align: right;
    flex: 1;
    font-size: 42px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}